<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.smallgroup.like.dao.LikeDAO">
 	<select id="selectExsistLikePostIdUserId" parameterType="map" resultType="int">
 		SELECT 
 			COUNT(1)
 		FROM
 			`like`
 		WHERE 
 			`meetPostId` = #{meetPostId}
 			<if test="userId != null">
 			AND `userId` = #{userId}
 			</if>
 			
 	</select>
 	<insert id="insertLike" parameterType="map">
 		INSERT INTO `like`
 		(
 			`userId`
			,`meetPostId`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{meetPostId}
 			,NOW()
 		)
 	</insert>
 	<delete id="deleteLikeByPostIdUserId" parameterType="map">
		DELETE
		FROM
			`like`
		WHERE
			meetPostId = #{meetPostId}
			AND userId = #{userId}
	</delete>
	 <delete id="deleteLikeByPostId" parameterType="integer">
			DELETE
			FROM
				`like`
			WHERE
				meetPostId = #{meetPostId}
		</delete>
	 </mapper>
