<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.smallgroup.post.dao.MeetPostDAO">
 	<insert id="insertPost">
		INSERT INTO `meet_post`
		(
			`userId`
			,`meetId`
			,`subject`
			,`contentText`
			,`postImagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			,#{meetId}
			,#{subject}
			,#{contentText}
			,#{postImagePath}
			,NOW()
			,NOW()
			
		)
	</insert>
	<select id="getMeetPostList" resultType="com.smallgroup.post.model.MeetPost">
	SELECT *
	FROM `meet_post`
	WHERE
		meetId = #{meetId}
		AND id = #{meetPostId}
	</select>
	<select id="selectPostByPostIdAndUserId" resultType="com.smallgroup.post.model.MeetPost">
 	SELECT
		`id`
		,`userId`
		,`meetId`
		,`subject`
		,`contentText`
		,`postImagePath`
		,`createdAt`
		,`updatedAt`
 	FROM
 		`post`
 	WHERE
 		`id` = #{meetPostId}
 		AND `userId` = #{userId}	
 	
 	</select>
 	<delete id="deletePost" parameterType="map">
 		DELETE
 		FROM
 			`meet_post`
 		WHERE
 			`id` = #{meetPostId}
 			AND `userId` = #{userId}
 	</delete>
 
 </mapper>
 